html,body { 
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    text-align: center;
}

a {
    color: #000;
    margin: 0.2em;
    text-decoration: none;
}

#hangm_gameover, #hangm_victory {
    font-size: 2em;
}

section#hangman {
    height: 30.5em;
    overflow: hidden;
}

#hangm {
    text-align: center;
}

.h {
    opacity: 0;
}

#hangm_word, 
#hangm_guesses {
    letter-spacing: 1em;
}